body {
  background-color: black;
  background-size: cotain;
  font-family: 'Audiowide', cursive;
	margin: 0;
  text-align: center;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header1 {
  margin-bottom: 0;
  background: linear-gradient(-45deg, #d7108e, #8300fe, #042fef, #f75d04);
	background-size: 300%;
	font-size: 6vw;
	letter-spacing: 5px;
	text-transform: uppercase;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 2s ease-in-out infinite;
	-moz-animation: animated_text 5s ease-in-out infinite;
	-webkit-animation: animated_text 5s ease-in-out infinite;
}

@keyframes animated_text {
	0% { background-position: 0px 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0px 50%; }
}

section.board {
  display: grid;
  grid-template-rows: repeat(3, 15vmin);
  grid-template-columns: repeat(3, 15vmin);
  grid-gap: 1vmin;
  top: 10%;
  justify-content: center;
  border-radius: 5%;;
  box-shadow:
  inset 0 0 50px #fff,      
  inset 20px 0 80px rgb(247, 5, 166),   
  inset -20px 0 50px rgb(215, 104, 6),  
  inset 20px 0 300px rgb(233, 47, 153),  
  inset -20px 0 300px rgb(216, 12, 234), 
  0 0 50px #fff,            
  -10px 0 80px #f0f,        
  10px 0 80px rgb(255, 255, 255);  
}

div {
  border-radius: 10%;
  font-size: 9vmin;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
}

.board > div {
border-radius: 10%;
border: 5px solid rgb(255, 255, 255);
text-align: center;
vertical-align: middle;
justify-content: center;
}

#reset-button {
  width: 100px;
  height: 50px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  margin: 0 0 25px 0;
}

#message {
  margin: 0 0 20px 0;
  color: white;
  font-size: 2vh;
  font-family: 'Montserrat', sans-serif;
}

ul {
  margin-top: -.5em;
  padding: 0;
  padding: 5px;
  display: flex;
  align-items: center;
  font-size: 2vh;
  font-family: 'Montserrat', sans-serif;
}

.navContainer > a {
  text-decoration: none;
  color: white;
  margin: 0 10px;

}

ul li{
  list-style:none;
  margin:0 15px;
  transition:0.5s;
}

ul li a{
  display: block;
  position:relative;
  text-decoration:none;
  color:#fff;
  font-size: 1.5vh;
  
}

h4 {
  margin-top: 100px;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5vh;
  background: linear-gradient(-45deg, #d7108e, #8300fe, #042fef, #f75d04);
	background-size: 300%;
	text-transform: uppercase;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 2s ease-in-out infinite;
	-moz-animation: animated_text 5s ease-in-out infinite;
	-webkit-animation: animated_text 5s ease-in-out infinite;
}